header {
    background-color: #9ad3e6;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    color: black;
        }
  
        .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    color: #007BFF;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    text-align: left;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    border: none;
    color: #007BFF;
    padding: 16px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  button {
    background-color: #007BFF; 
    color: black; 
    border: 2px solid #007BFF;
  }
  
  button:hover {
    background-color: #4CAF50;
    color: white;
  }
  